<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/js/my.js"></script>
  <title>博客列表</title>
</head>

<body>
  <div>
    <span id="list">
      <table>
        <tr>
          <td align="center">博客列表</td>
        </tr>
        <tr>
          <td></td>
        </tr>
        {{range .}}
        <tr>
          <td style="padding-top: 10;"><a href="/blog/{{.Id}}">{{.Title}}</a></td>
        </tr>
        {{end}}
      </table>
    </span>
  </div>
</body>

</html>